@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h4 class="text-title">
    به سایت <span class="span1">مشاورین املاک </span>  خوش
    آمدید !
</h4>

<!--    banner-->
<div class="banner">
    <img src="~/image/15.jpg" alt="">
</div>
<!--    end banner-->
<!--    title-->
<div class="title">
    <h2> تازه ترین املاک  </h2>
</div>
<div class="products row">
    @if (Model.Model.Any())
    {
        @foreach (var estates in Model.Model)
        {
            <div class="col-lg-4 col-md-6 col-12"> 
                <a asp-page="EstatesDetails" asp-route-Id="@estates.Id">
                    
                    <div class="product-card">
                        <div class="image">
                            <img src="~/image/Estates/@estates.Image" alt="product1">
                        </div>
                        <div class="card-body">
                            <p class="d-flex justify-content-between">
                                <span > @estates.Title </span>
                                <span> @estates.Metrage متری </span>
                            </p>
                            <p class="mt-2 address">
                                <i class="fas fa-map-marked-alt text-orange"></i>
                                @estates.Address
                            </p>
                            <p class="my-2"> مبلغ : @estates.Price.ToString("#,0") تومان </p>
                        </div>


                    </div>
                    

                </a>
            </div>
           
        }
        <h5 class="text-center mt-3 ">
            <a class="text-center" href="AllEstates" > مشاهده همه املاک</a>

        </h5>

    }
    else
    {
        <h3 class="text-center text-info " >ملکی موجود نمیباشد</h3>
    }


   

</div>
<footer>
    <!--    about us-->
    <div class="contactUs">
        <h4> ارتباط با ما : 09152237727 </h4>
        <h4>احمدرضا گلمکانی نیا </h4>
        
    </div>
    <!--    end about us-->
    <!--    logo-->
    <!--   End logo-->
    <!--    symbol-->
    
    <!--    end symbol-->
</footer>