@page
@model کارگزاری_املاک.Pages.Panel.Favorites.IndexModel
@{
}
<div class="row mt-3">
    <partial name="Shared/_Panel" />

    @if (Model.Favorite.Any())
    {
        <div class="col-lg-9 col-md-3 col-12">
            <div class="products row">

                <div class="col-lg-5 col-md-6 col-12">
                    @foreach (var favorite in Model.Favorite)
                    {
                        <a asp-page="EstatesDetails" asp-route-Id="@favorite.Estate.Id">
                            <div class="product-card">
                                <div class="image">
                                    <img src="~/image/Estates/@favorite.Estate.Image" alt="product1">
                                </div>
                                <div class="card-body">
                                    <p class="d-flex justify-content-between">
                                        <span> @favorite.Estate.Title </span>
                                        <span> @favorite.Estate.Metrage متری </span>
                                    </p>
                                    <p class="mt-2 address">
                                        <i class="fas fa-map-marked-alt text-orange"></i>
                                        @favorite.Estate.Address
                                    </p>
                                    <p class="my-2"> مبلغ : @favorite.Estate.Price.ToString("#,0") </p>
                                </div>


                            </div>
                        </a>


                    }

                </div>
            </div>
        </div>
    }

</div>